.container {
  margin: auto;
  text-align: center;
}

#love {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
  background-color: rgb(216, 195, 235);
}

hr {
  border: 1px dashed rgb(44, 7, 80);
}

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(44, 7, 80)
}

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(146, 97, 196)
}

h3 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(44, 7, 80);
}

img {
  height: 300px;
}

a {
  color: rgb(44, 7, 80);
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
}

table {
  margin: auto;
  background-color: whitesmoke;
  padding: 80px;
  border: 40px solid rgb(241, 143, 210); 
  border-spacing: 20px;

}

thead {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:rgb(44, 7, 80) 

}

tr {
  color: rgb(44, 7, 80)
}

td {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

tbody {
  text-align: left;
}

li{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.flex-container{
  display: flex;
  justify-content: space-evenly;

}

ul {
 color:rgb(44, 7, 80)
}

form {
  border: 10px solid rgb(241, 143, 210);
  background-color: whitesmoke;
  margin-left: 25%;
  margin-right: 25%;
  padding: 10px;
}

input {
  color: rgb(146, 97, 196);
}

label {
  color:rgb(238, 12, 121)
}